<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
  <meta name="google-site-verification" content="yUUiNtiTuxd0oHpo7x6xmHVLgHpiS3RHHlCuX2x1zno" />
  <meta name="description" content="Official website of Gaushala Sironj. Help protect and care for cows. Get involved in donation and support." />
<meta name="keywords" content="Gaushala, Sironj, Cow protection, Cow donation, Jeev daya, Animal care" />
<meta name="author" content="Abhishek Jain" />
<link rel="canonical" href="https://gaushalasironj.onrender.com" />
<meta property="og:title" content="Gaushala Sironj" />
    <title>Jeev Daya</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="icon" type="image/x-icon" href="/favicon-32x32.png">
<link rel="icon" type="image/x-icon" href="/favicon.ico">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/info.css">
    <link rel="stylesheet" href="css/seva.css">
    <link rel="stylesheet" href="css/gauseva.css">
    <link rel="stylesheet" href="css/impact.css">
    <link rel="stylesheet" href="css/team.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/blog.css">

</head>

<body>

    <%- include('../particles/navbar') %>

    <div class="container mt-4">

        <%- body %>

    </div>
    <%- include('../particles/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
