.impact-section {
  background-color:#F7E1D4;
  padding: 0px 20px 20px 10px ;
  text-align: center;
}

.impact-section h2 {
  font-size: 2.2rem;
  margin-bottom: 40px;
  color: #553c09;
}

.impact-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.impact-card {
  background-color:#FF5722;
  border: 2px solid #ffd77e;
  border-radius: 12px;
  padding: 30px 20px;
  text-align: center;
  max-width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.impact-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}


.impact-card h3 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 10px;
}

.impact-card p {
  font-size: 1.1rem;
  color: white !important;
  margin: 0;
}
.impact-card:hover {
  transform: scale(1.05);
  color: #fff !important ;
}
.impact-card:hover,
.impact-card:hover * {
  color: #fff !important;
}

@media (max-width: 768px){
  .impact-section{
    background-color: #F7E1D4;
  }
  .impact-cards {
    grid-template-columns: 1fr;
    gap: 1em;
  }

  .impact-card h3 {
    font-size: 2rem;
    color: white;
  }
  p{
    font-size: 1.5rem !important;
    color: white !important;
  }
  .impact-card{
    color: #fff;

  }
  .impact-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 350px;
  margin: 0 auto;
}
#para{
  color: #fff !important;
}
}