/* blog.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  overflow-x: hidden;  /* 👈 ye line horizontal scroll rokta hai */
}
body{
  background-color: #f7e1d4 !important;
}
.background-image{
  margin:0 ;
  border: solid black 0.5px;
}
.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8%;
  margin-top: 1em;
  padding: 0.5rem;
  margin-bottom: 0;
}
#ya{
    font-size: 2em;
  font-weight: 800;
  text-decoration: underline;
text-align: center; color: rgb(0, 0, 0);
}
#sansar{
 font-size: 1.5em;
  color: #000000;
  text-align: center;
  margin-top: 10px;
}
.home-text h1{
  color: #000;
  text-align: center;
}

.donate-button{
 max-height:5em;
 max-width: 12em;
  padding: 0.3em 0.3em;
  background-color: white;
  border-radius: 2em ;
  display: flex;
  align-items: center;
   /* transform: translateY(-0.4em) scale(1.1); */
}
.btn-donate{
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em 0.7em ;
  background-color: #FF5722;
  border-radius: 2em;
  color: white;
  box-shadow: white;
}
.btn-donate:hover{
  background-color: #1d8b13;
  border-radius: 2em;
  color:white ;
  transform: scale(1.2);
  box-shadow: white;


}
.bottom{
  padding: 0;
}
@media (max-width: 768px) {

  /* Hero Section */
  .heading-container {
    padding: 1rem;
    margin-top: 1rem;
  }
h1{
  color: #000 !important;
  text-align: center !important;
}
 #ya {
    font-size: 2.5rem !important;
    text-decoration:underline ;
    font-weight: 800;
    color: #000 !important;
  }

  #sansar {
    font-size: 1.5rem !important;
    padding: 0 5px;
    font-weight: 600 !important;
    color: #000 !important;
  }

  .donate-button .btn {
    padding: 0.5rem 1.5rem !important;
    font-size: 2rem !important;
  }

  .background-image img {
    
    width: 100%;
    object-fit: cover;
  }
    .nav-join{
  display: none !important;
}
body{
  background-color: #f7e1d4 !important;
}
.donate-button{
 max-height:5em;
 max-width: 12em;
  padding: 0.3em 0.3em;
  background-color: white;
  border-radius: 2em ;
  display: flex;
  align-items: center;
   /* transform: translateY(-0.4em) scale(1.1); */
}
.btn-donate{
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em 0.7em ;
  background-color: #FF5722;
  border-radius: 2em;
  color: white;
  box-shadow: white;
}
.btn-donate:hover{
  background-color: #1d8b13;
  border-radius: 2em;
  color:white ;
  transform: scale(1.2);
  box-shadow: white;
}
.bottom{
  padding: 0;
}
#imp{
  display: block;
}
.nav-left
 {
        display: flex
;
        align-items: center;
        flex-direction: row;
        margin: 0;
        gap: 0.1em !important;
    }
}
@media(min-width:900px){
  .background-image img {
    height: 25rem;
    width: 100%;
}
  }
  @media(min-width:1050px){
  .background-image img {
    height: 35rem;
    width: 100%;
}
  }