<section class="impact-section" id="impact">
  <h2>рдЖрдкрдХреЗ рд╕рд╣рдпреЛрдЧ рдХрд╛ рдкреНрд░рднрд╛рд╡</h2>
  <div class="impact-cards">
    <div class="impact-card">
      <img src="/uploads/WhatsApp Image 2025-06-17 at 14.46.13_d4ce5cee.jpg" alt="">
      <h3>500+</h3>
      <p>рдЧрд╛рдпреЛрдВ рдХреЛ рдЖрд╢реНрд░рдп рдорд┐рд▓рд╛</p>
    </div>
    <div class="impact-card">
      <img src="/uploads/WhatsApp Image 2025-06-17 at 13.49.22_b1698351.jpg" style="object-position: center 50%;">
      <h3>480+</h3>
      <p>рдмреАрдорд╛рд░рд┐рдпреЛрдВ рд╕реЗ рдЙрдкрдЪрд╛рд░рд┐рдд</p>
    </div>
    <div class="impact-card">
            <img src="/uploads/WhatsApp Image 2025-06-17 at 13.49.15_980a71a7.jpg" alt="">

      <h3>50+</h3>
      <p>ЁЯРД рдЧреМ рддреГрдкреНрддрд┐ рдЕрднрд┐рдпрд╛рди
</p>
    </div>
       <div class="impact-card">
      <img src="/uploads/Screenshot 2025-06-24 125816.png" style="object-position: center 50%;">
      <h3> 8 рд╡рд░реНрд╖реЛрдВ </h3>
      <p id="para"> рдардВрдб рдХреЗ рдореМрд╕рдо рдореЗрдВ рд╣рд░ рд╣рдлреНрддреЗ рдФрд╖рдзрд┐ рдпреБрдХреНрдд рд▓рдбреНрдбреВ рдЦрд┐рд▓рд╛рдиреЗ</p>
    </div>
  </div>
</section>
