<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sant Sudhasagar Gaushala Sironj</title>
</head>
<body>
  
<% layout("layouts/boilerplate") %>

<div class="background-image">
  <img src="/uploads/final.jpg" alt="image">
</div>
<!-- Top Hero Section -->
<div class="heading-container">
  <div class="home-text">
<h1>जीवदया मसीहा प्रातः स्मरणीय आचार्य भगवन विद्यासागर जी महाराज के आर्शीवाद एवं जगत पूज्य निर्यापक श्रमण मुनिपुंगव 108 सुधासागर जी महाराज जी की दिव्य प्रेरणा एवं आर्शीवाद से संचालित संत सुधासागर गौशाला सिरोंज जिला विदिशा (म. प्र)
</h1>

    <p class="Heading-text" style="font-family: Arial, Helvetica, sans-serif; color: #FF5722 !important;" id="ya">या श्री सा गौ
</p>
    <p class="Slogan-text" id="sansar">
      संसार में जो भी संपदा हे वो गाय है
    </p>  
  </div>
  <div class="donate-button">
    <a href="/donation" class="btn-donate">Donate Now</a>
  </div>
</div>

<%- include('../pages/gauseva.ejs') %>
<br>
<%- include('../pages/impact.ejs') %>
<%- include('../pages/seva.ejs') %>
<div class="heading-container bottom">
 <div class="donate-button">
      <a href="https://wa.me/917223042143" target="_blank" class="btn-donate">संस्था से जुड़े</a>
  </div>
  </div>
</body>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C2NECGD9YY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C2NECGD9YY');
</script>
</html>

