<% layout("layouts/boilerplate") %>

<div class="background-image">
  <img src="/uploads/final.jpg" alt="image">
</div>
<!-- Top Hero Section -->
<div class="heading-container">
  <div class="home-text">
<h1>निर्यापक श्रमण, मुनिपुंगव श्री 108 सुधा सागर जी महाराज की दिव्य प्रेरणा एवं आशीर्वाद से संचालित — संत सुधासागर गौशाला (जिनोदय जीवदया गौशाला ), सिरोंज, जिला विदिशा, मध्य प्रदेश </h1>

    <p class="Heading-text">या श्री सा गौ
संसार में जो भी संपदा हे वो गाय से है</p>
    <p class="Slogan-text">
      गौदान से ना केवल दानकर्ता को पुण्य प्राप्त होता है, बल्कि उसका लाभ अनेक स्तरों पर
      समाज को मिलता है — पर्यावरण, किसान, आस्था और आत्मनिर्भरता सबको।
    </p>  
  </div>
  <div class="donate-button">
    <a href="/donation" class="btn btn-primary btn-lg">Donate Now</a>
  </div>
</div>
<%- include('../pages/seva.ejs') %>

<%- include('../pages/impact.ejs') %>
<%- include('../pages/gauseva.ejs') %>


